pyvmomi==6.0.0.2016.6
git+https://github.com/Supervisor/supervisor@master#egg=supervisor
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
